.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-animation 0.5s steps-end infinite;
    
}

@keyframes typing-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.cursor {
    animation: blink-animation 1s step-end infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

